<footer class="footer">
    <div class="footer-content">
      <div class="copyright">
        &copy; {{ currentYear }} UNKNOWN. All rights reserved.
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/UNKNOWN.SELLAMI" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/unknown_sellami/" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/unknownsellami/" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </footer>