

  <header class=" bg-black text-white   mx-auto px-4 py-2 flex justify-between items-center">
    <a href="">
      <img src="/assets/Logo/White/Artboard 1.webp" alt="UNKNOWN_Logo" class="h-6  w-auto object-cover">
    </a>
    
    <div class="flex items-center gap-1.5">
      <img src="./assets/Icons/Artboard 1.png" class="h-10 w-10 " alt="Arrow">
      <button routerLink="/contact" class="px-4 py-1 text-sm font-medium rounded-full border-[2px] border-white hover:bg-white hover:text-black transition-colors">
        Hire me
      </button>
    </div>
  </header>