.text-neon {
    color: #e6ff00; /* Adjust this color if needed */
  }
  
  .bg-neon {
    background-color: #e6ff00; /* Adjust this color if needed */
  }

  .pi {
    /* You can add custom icon styles here if needed */
    color: white;
  }

  
  .timeline-connector {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 135%;
    width: 2px;
    background-color: #4b5563;
    z-index: -1;
  }
  

  
  @media (max-width: 768px) {
    .timeline-connector {
     display: none;
    }
  }

  .rising-stars-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
  }
  
  .star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    animation: rise var(--duration) linear forwards;
  }
  
  @keyframes rise {
    0% {
      transform: translateY(100vh);
      opacity: 0;
    }
    10% {
      opacity: var(--max-opacity);
    }
    90% {
      opacity: var(--max-opacity);
    }
    100% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }







  /* Define the animation */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Initially hide the element */
  .timeline-event {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  /* This class will trigger the animation when it is in the viewport */
  .timeline-event.visible {
    opacity: 1;
    transform: translateY(0);
  }